@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
body {
  font-family: Raleway, sans-serif;
  font-size: 1.5em;
  text-align: center;
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  color: whitesmoke;
  min-height: 100vh;
  margin: 0;
}


/* Navbar */
.navbar {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #7428d1;
}
.navbar a {
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

/* main */
.content {
  max-width: 90%;
  margin: 1.1rem auto;
  margin-bottom: 2rem;
}

/* tools */
.tools{
  display: grid;
  align-items: center;
  justify-content: center;
}

.tools select{
  width: 100%;
}


.correct-answer{
  padding: 1rem;
  margin: 1rem;
  border: 2px solid rgb(218, 37, 37);
  border-radius: 5px;
}
.correct-answer h3{
  margin: 0.2rem;
}
.correct-answer label{
  color: rgb(236, 84, 84);
  font-size: 2rem;
}

.incorrect_answers{
  display: grid;
  font-size: 2rem;
  padding-bottom: 2.5rem;
}

.card-answers{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-correct-answer {
  border: 1px solid black;
  padding: 0.2rem;
  margin-right: 0.2rem;
  letter-spacing: 0.5px;
}

.card-incorrect-answers{
  letter-spacing: 0.5px;
}

.MuiCardContent-root:last-child{
  padding: 5px 0 0 0;
}





