@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #1b1523;
  color: #fff;
}

/* Navbar */
.navbar {
  padding: 40px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links{
  padding-left: 3rem;
}
.navbar .login {
  margin-left: auto;
  display: flex;
}
.login h2{
  margin: 0;
  margin-top: 5px;
  color: rgb(118, 118, 206);
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 95%;
  margin: 40px auto;
  padding: 20px;
}



